.App {
  text-align: center;
}

.App-main {
  background-size: cover;
  background-image: url('./assets/background-image.jpg');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Header-logo {
  content: url('./assets/atonoy-logo.png');
}
