body {
  margin: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 7%;
  padding-right: 7%;
}
.logo img{
  width: 200px;
  cursor: pointer;
}
nav ul li{
  color: '#ffff3';
  font-size: 22px;
  list-style: none;
  display: inline-block;
  padding: 0px 25px;
  font-weight: 300;
  cursor: pointer;
}
